<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sports.limitsport">

    <!-- Required -->
    <permission
        android:name="com.sports.limitsport.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- JPUSH-->
    <uses-permission android:name="com.sports.limitsport.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".base.LimitSportApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5993d79e2ae85b18e80007cd" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BA6WynpCoQKbo3aSVWHBAjoox6vaQEwo" />

        <activity android:name=".main.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhihu.matisse.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>

        <activity
            android:name=".main.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AllShaiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.PaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateVisible" />

        <activity
            android:name=".mine.NoticeFirstLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.NoticeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyFocusListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyFansListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyClubsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyActivitysActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.OrderDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".discovery.FindClubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.CreateClubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.FineShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.NewPersonReportActivity"
            android:screenOrientation="portrait" />
        <!-- 个人主页 -->
        <activity
            android:name=".discovery.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.JoinActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.JoinClubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.ClubDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.ClubBaseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".discovery.FineShowDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notice.FindMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notice.EditNewDongTaiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 图片预览 -->
        <activity
            android:name=".view.imagepreview.ImagePreviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notice.SelectMyFocusPersonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notice.SelectMyJoinActivity"
            android:screenOrientation="portrait" />

        <!-- 动态详情页-->
        <activity
            android:name=".activity.DongTaiDetailActivity"
            android:screenOrientation="portrait" />

        <!-- 他们也觉得赞-->
        <activity
            android:name=".activity.ElsePriseActivity"
            android:screenOrientation="portrait" />

        <!-- 活动讨论区 -->
        <activity
            android:name=".activity.ActivityDiscussActivity"
            android:screenOrientation="portrait" />

        <!-- H5 -->
        <activity
            android:name=".view.H5Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.IdentifyMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".discovery.ClubMembersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.DealActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- jpush -->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.sports.limitsport" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.sports.limitsport" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.sports.limitsport" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.sports.limitsport" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="5e413c2b8a85466ebc2ef11a" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>